@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Istok+Web);

html, body {
  height: 100%;
}
body {
  background-color: #f0f0f0;
  display: flex;
  
}

.heading {
 /*padding: 0px 0px 100vh 0px;*/
 margin:0px;
 text-align: center;
 position: absolute;
 justify-content: center;
 align-items: center;
 width: 100vw;
}

h3 {
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 font-weight: normal;
 font-size: 1.75em;
 letter-spacing: .2em;
 line-height: 1.1em;
 text-transform: uppercase;
 margin-top: 15px;
}

.container {
  padding: 3.2rem .8rem;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;

  }

  img {
    width: 100vw;

  }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 3.2, 0.3);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.point {
    cursor: pointer;
    position: absolute;
    width: 0.8vw;
    height: 1.4vh;
    background-color: #00acc1;
    border-radius: 50%;
    transition: all .3s ease;;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 1.5s infinite;
  }

.point:hover {
    animation: none;
    transform:  translate(-20%, -20%) scale3D(1.35, 1.35 ,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

.point p {
text-decoration: none;
color: black;
opacity: 0;
pointer-events: none;
width: fit-content;
}

.point:hover p {
opacity: 1;
transition: 0.3s ease-in opacity;
transform: translate(0,-30px);
}

p {
font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 font-weight: normal;
 font-size: 0.5rem;
 letter-spacing: .2em;
 line-height: 1.1em;
 text-transform: uppercase;
 margin-top: 15px;
 background-color: white;
 z-index: 10px;
}

  .Aalto { top: 20%; left: 51%; }
  .Arts-Et-Metiers { top: 26%; left: 44%; }
  .Atocha { top: 30%; left: 43%; }
  .Bockenheimer { top: 23%; left: 47%; }
  .BurJuman { top: 41%; left: 61%; }
  .Canary-Wharf { top: 24%; left: 44%; }
  .Charlevoix { top: 26%; left: 23%; } 
  .City-Ring { top: 21%; left: 46.5%; }
  .De-Castelnau { top: 26%; left: 22%; } 
  .Formosa-Boulevard { top: 41%; left: 83%; }
  .Kiyevskaya { top: 23%; left: 54%; }
  .Kungsträdgården { top: 20%; left: 49%; }
  .Marienplatz { top: 26%; left: 47%; }
  .Odenplan { top: 18.5%; left: 48%; }
  .Olaias { top: 31.8%; left: 41.5%; }
  .Parque-Lisbon { top: 33%; left: 41.5%; }
  .Place-Saint-Henri { top: 24%; left: 23%; } 
  .Radhuset { top: 18.5%; left: 49%; }
  .Sao-Bento { top: 30.5%; left: 41.5%; }
  .Slavyansky-Bulvar { top: 23%; left: 55%; }
  .Szent-Gellert { top: 25.5%; left: 49.5%; }
  .T-Centralen { top: 20%; left: 48%; }
  .Taiwan { top: 42%; left: 82%; }
  .Tapiola { top: 19%; left: 52%; }
  .Toledo-Station { top: 30%; left: 49%; }
  .University-Of-Naples { top: 32%; left: 49%; }
  .Urheilupuisto { top: 18%; left: 51%; }
  .Warsaw { top: 23%; left: 50%; }
  .Wilhelminaplein { top: 24.5%; left: 45.5%; }
  .Wynyard-Station { top: 76%; left: 91%; }

}
